DATACAMP/introduction-to-workflow-automation-with-n8n/exercises/resources/ch3/3.3.4_start.json
{
  "name": "3.3.4_start",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1088,
        576
      ],
      "id": "6cbc4e2c-5595-4d01-afa0-fa20b7b761d8",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "jsCode": "// Acme Logistics – incident sample generator (12 items)\n// Produces mostly-valid items plus some with missing required fields\n// so you can exercise your \"Check\" and \"Validate\" steps.\n\n// ---------- helpers ----------\nconst rand = (arr) => arr[Math.floor(Math.random() * arr.length)];\nconst bool = (p = 0.5) => Math.random() < p;\nconst int = (min, max) => Math.floor(Math.random() * (max - min + 1)) + min;\nconst isoOffsetMins = (mins) => new Date(Date.now() + mins * 60_000).toISOString();\nconst pad = (n, w=4) => String(n).padStart(w, '0');\n\n// ---------- lookup data ----------\nconst cities = ['Austin','Denver','Atlanta','Seattle','Phoenix','Boston','Miami','Portland'];\nconst streets = ['Elm St','Maple Ave','2nd St','Cedar Rd','Oak Blvd','Pine Way','Market St','Lakeview Dr'];\nconst carriers = ['UPS','FedEx','DHL','USPS'];\nconst channels = ['email','webform','phone','system'];\nconst firstNames = ['Avery','Jordan','Taylor','Morgan','Riley','Casey','Harper','Quinn'];\nconst lastNames  = ['Nguyen','Garcia','Patel','Miller','Davis','Kim','Lopez','Johnson'];\nconst products   = ['Laptop','Headphones','Groceries','Vitamins','Coffee Beans','Desk Lamp','Monitor','Camera'];\n\nconst hard = [\n  'Perishables spoiled; van refrigeration failed and ETA slipped 3 hours.',\n  'Box crushed on arrival; two units missing; customer very upset.',\n  'Address mismatch; courier left at wrong door; urgent retrieval needed.',\n  'Trailer breakdown overnight; shipment delayed, client escalation pending.',\n  'Courier lost one unit from the set; replacement required ASAP.'\n];\n\nconst soft = [\n  'Slight scuff on outer box; item works fine.',\n  'Driver 20 minutes late; customer accepted delivery.',\n  'Label smudged; reprint needed for return.',\n  'Customer requested weekday delivery; rescheduled.',\n  'Minor dent on outer box; contents verified OK.'\n];\n\n// ---------- generator ----------\nconst items = [];\nfor (let i = 1; i <= 12; i++) {\n  const severe = bool(0.45);\n  const name = `${rand(firstNames)} ${rand(lastNames)}`;\n  const city = rand(cities);\n  const street = `${int(100, 999)} ${rand(streets)}`;\n  const product = rand(products);\n  const qty = int(1, 4);\n\n  const record = {\n    order_id: `ORD-${pad(1000 + i)}`,\n    email: `ops+${i}@acme-logistics.example`,\n    customer_name: name,\n    phone: `+1-555-${int(100, 999)}-${int(1000, 9999)}`,\n    channel: rand(channels),\n\n    // shipping/address\n    address_line1: street,\n    city,\n    postal_code: String(int(10000, 99999)),\n    country: 'US',\n    carrier: rand(carriers),\n\n    // items\n    product,\n    sku: `SKU-${int(10000, 99999)}`,\n    quantity: qty,\n    value_usd: Number((int(1500, 45000) / 100).toFixed(2)), // $15–$450\n\n    fragile: bool(0.3),\n    temp_sensitive: bool(0.2),\n\n    // timing\n    created_at: isoOffsetMins(-int(0, 720)),     // sometime in last 12 hours\n    eta: isoOffsetMins(int(60, 60 * 24 * 3)),    // 1 hour–3 days in future\n\n    // incident text\n    message: severe ? rand(hard) : rand(soft),\n\n    // extra metadata you can normalize or drop later\n    tags: severe ? ['incident','customer_impact'] : ['incident'],\n  };\n\n  // Make every 6th item invalid to test your \"Check\" step:\n  // remove either email or message (but not both).\n  if (i % 6 === 0) {\n    if (bool(0.5)) delete record.email; else delete record.message;\n  }\n\n  items.push({ json: record });\n}\n\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -832,
        576
      ],
      "id": "29cfa946-7ac7-46a7-8702-8158fbc59951",
      "name": "Code Node"
    },
    {
      "parameters": {
        "content": "## Trigger\n- This section generates incident report data",
        "height": 480,
        "width": 672,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1248,
        384
      ],
      "id": "f28ce5c4-4633-4f66-bd4d-30d31c550518",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## ADD OpenAI NODE HERE",
        "height": 480,
        "width": 448
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        160,
        384
      ],
      "id": "f4b28545-a808-41a2-b427-0d86ca9ada67",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "## Decide\n- This section contains conditional logic",
        "height": 480,
        "width": 704,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -560,
        384
      ],
      "id": "efef6724-d256-4e87-adb0-256c01159a52",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## OpenAI: User Prompt\nIncident Report:\nEmail: {{$json.email}}\nOrder ID: {{ $json.order_id }}\nCity: {{ $json.city }}\nMessage: {{ $json.incoming_message }}",
        "height": 304,
        "width": 400,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "00b814fa-14e8-40bc-8acd-0f7ca22512dd",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## OpenAI: System Prompt\n\nYou are helping a logistics team quickly understand incident reports.  \nAlways reply in JSON with 3 parts:  \n{\n  \"summary\": \"short description of the problem (max 20 words)\",\n  \"urgency\": \"high or normal\",\n  \"action\": \"contact_customer, escalate_ops, or monitor\"\n}\nIf you are not sure, use urgency=\"normal\" and action=\"monitor\".\n",
        "height": 304,
        "width": 432,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        416,
        0
      ],
      "id": "310c2017-ad4b-4861-af14-5746fec2940b",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f3792006-d52d-4055-a0fa-27dbe68f821e",
              "name": "incoming_message",
              "value": "={{$json.message}}",
              "type": "string"
            },
            {
              "id": "a9b386a1-71a9-47be-adba-5c79cc1a3123",
              "name": "email",
              "value": "={{$json.email}}",
              "type": "string"
            },
            {
              "id": "c661db68-1f73-471b-87d8-7a5453599416",
              "name": "order_id",
              "value": "={{$json.order_id}}",
              "type": "string"
            },
            {
              "id": "f255dcc2-0a18-4551-8ad9-bf9683e2a276",
              "name": "city",
              "value": "={{$json.message}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -224,
        448
      ],
      "id": "450650ce-7968-4362-ad18-ec263c822729",
      "name": "Data for LLM"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3f7fae9e-49e7-452a-aa77-9f6ce7cabab2",
              "leftValue": "={{ $json.order_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "4d1c7aeb-a698-417a-8f57-49219c9d0a47",
              "leftValue": "={{ $json.message }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -448,
        576
      ],
      "id": "9dd9455e-0523-4053-9761-50d310ad75a1",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fa8f9993-68a8-4b01-876b-c9d5c6175668",
              "name": "invalid_input",
              "value": "order Id and/or message is missing",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -224,
        672
      ],
      "id": "7e186621-8591-4c8a-a268-b817aa95d018",
      "name": "Drop with Reason"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -32,
        672
      ],
      "id": "a5f9a6d4-ef8f-459e-bca6-2b1c63f6df92",
      "name": "No Operation, do nothing"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Code Node",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code Node": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Data for LLM",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Drop with Reason",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Drop with Reason": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "526b0c9b-e123-404d-a034-18eb05e2a66d",
  "meta": {
    "instanceId": "9dbe6e9adaa7644a782c9475adca697617306074a3b354c01045885272a5c8fe"
  },
  "id": "rCGlvplqfilO8gpG",
  "tags": []
}