DATACAMP/introduction-to-workflow-automation-with-n8n/exercises/resources/ch2/2.3.3_testing_solved.json
{
  "name": "2.3.3_testing",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -304,
        112
      ],
      "id": "a8fbd5e6-d779-4e1d-8681-670ad902ed94",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "80995144-bbbd-46fd-aed9-42b5a38b4f23",
              "leftValue": "={{ $json.priority }}",
              "rightValue": "high",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        448,
        112
      ],
      "id": "7e03be5a-0df8-489c-a1d6-457909925697",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f0539a1e-5f8e-4992-a093-0a40794281cd",
              "name": "status",
              "value": "Urgent- send to manager",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        656,
        0
      ],
      "id": "d72e3ff5-71f1-4774-85be-4485dd4a4f05",
      "name": "Priority"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5f107c76-8769-4350-b341-e5de02e78574",
              "name": "status",
              "value": "Not urgent- add to queue",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        656,
        176
      ],
      "id": "f6f2cbd4-15a5-4c61-8cfe-e75d12af4029",
      "name": "Normal"
    },
    {
      "parameters": {
        "content": "## Do NOT Edit This Node\n- Feel free to run the node individually, but don't change anything inside it.",
        "height": 272,
        "width": 336,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "ab302873-ae1c-48d2-9d44-28328766168b",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fd424e15-9f5d-4c7c-81ce-40b3aca1f8ca",
              "name": "message",
              "value": "our database is not working, we need urgent fixing",
              "type": "string"
            },
            {
              "id": "c0725a50-22db-4add-92e4-e063b8979dad",
              "name": "priority",
              "value": "high",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        112,
        112
      ],
      "id": "3308a08a-263e-4e26-8b3c-8b6f8d6f8bc7",
      "name": "Set Message and Priority"
    },
    {
      "parameters": {
        "content": "## Error with Correct Branching\n\nReason for Branching Error: The expression of the condition was wrong because it compared to the text \"hgh\"",
        "height": 288,
        "width": 384,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1104,
        0
      ],
      "id": "ce675aea-1dc7-4a72-9cff-5d0211ce7c95",
      "name": "Sticky Note1"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Set Message and Priority",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Priority",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Normal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Message and Priority": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "41df8835-3bb5-4372-86a5-dac17fc582b3",
  "meta": {
    "instanceId": "9dbe6e9adaa7644a782c9475adca697617306074a3b354c01045885272a5c8fe"
  },
  "id": "vcs8FeygDvPIJIb9",
  "tags": []
}