DATACAMP/introduction-to-workflow-automation-with-n8n/exercises/resources/ch2/2.3.3_testing.json
{
  "name": "2.3.3_testing",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -304,
        112
      ],
      "id": "26908c40-b15e-4f36-93e9-ad490e6613cb",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "80995144-bbbd-46fd-aed9-42b5a38b4f23",
              "leftValue": "={{ $json.priority }}",
              "rightValue": "hgh",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        448,
        112
      ],
      "id": "ace00ff1-19a5-43c3-a4ac-ed3854d5b810",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f0539a1e-5f8e-4992-a093-0a40794281cd",
              "name": "status",
              "value": "Urgent- send to manager",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        656,
        0
      ],
      "id": "bff9fcb5-50ed-4018-b3c7-e0178b45b9c9",
      "name": "Priority"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5f107c76-8769-4350-b341-e5de02e78574",
              "name": "status",
              "value": "Not urgent- add to queue",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        656,
        176
      ],
      "id": "9d8788db-dd36-403b-b418-063f33f4dfc7",
      "name": "Normal"
    },
    {
      "parameters": {
        "content": "## Do NOT Edit This Node\n- Feel free to run the node individually, but don't change anything inside it.",
        "height": 272,
        "width": 336,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "45f787df-ab04-4eae-b9e6-71e0e7bdcbb1",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fd424e15-9f5d-4c7c-81ce-40b3aca1f8ca",
              "name": "message",
              "value": "our database is not working, we need urgent fixing",
              "type": "string"
            },
            {
              "id": "c0725a50-22db-4add-92e4-e063b8979dad",
              "name": "priority",
              "value": "high",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        112,
        112
      ],
      "id": "6bc5e08c-e249-46af-95fe-19dea32953bb",
      "name": "Set Message and Priority"
    },
    {
      "parameters": {
        "content": "## Error with Correct Branching\n\nReason for Branching Error:",
        "height": 288,
        "width": 384,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1104,
        0
      ],
      "id": "d2dd3797-8350-4bee-a0fd-28ca6d499729",
      "name": "Sticky Note1"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Set Message and Priority",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Priority",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Normal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Message and Priority": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "84459abc-8a4b-4242-a073-0e4ba7dce5e9",
  "meta": {
    "instanceId": "9dbe6e9adaa7644a782c9475adca697617306074a3b354c01045885272a5c8fe"
  },
  "id": "ddfIMEQpIsEofUzv",
  "tags": []
}