DATACAMP/introduction-to-workflow-automation-with-n8n/exercises/resources/ch2/ch2_ej1.json
{
  "name": "My workflow 334",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -576,
        16
      ],
      "id": "cb6630f6-cd47-46f1-b556-af8a61a36516",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d3031957-7792-498f-afec-e15cde090a3b",
              "name": "message",
              "value": "database is not working, need urgent fixing",
              "type": "string"
            },
            {
              "id": "6698bcd0-2af4-42f0-b283-4892d5c6fa5d",
              "name": "priority",
              "value": "low",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -368,
        16
      ],
      "id": "dc3352de-4045-456d-b0f4-7df138ad0ceb",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e4ead703-ea60-46ec-b4ef-a085adf50106",
              "leftValue": "={{ $json.priority }}",
              "rightValue": "high",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -160,
        16
      ],
      "id": "98d69021-c813-4c2e-b007-504a3146f0f0",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "42c6f660-76d8-438f-b03e-fde0c59f4772",
              "name": "status",
              "value": "Urgent - send to manager",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        48,
        -80
      ],
      "id": "716f0aec-a12d-453c-8659-44c28810c62c",
      "name": "Priority"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "939c9bd8-5611-4cdc-8094-dea3ce850de4",
              "name": "status",
              "value": "Not urgent - add to queue",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        48,
        112
      ],
      "id": "6c776fb7-77ed-41c0-86f8-ecee34c56004",
      "name": "Normal"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Priority",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Normal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "11322d5d-98f1-4e10-8582-679f95728755",
  "meta": {
    "instanceId": "9dbe6e9adaa7644a782c9475adca697617306074a3b354c01045885272a5c8fe"
  },
  "id": "dVCNGPTomQeIyQx2",
  "tags": []
}