DATACAMP/introduction-to-workflow-automation-with-n8n/exercises/resources/ch2/ch2_ej2.json
{
  "name": "My workflow 337",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -640,
        0
      ],
      "id": "89089bf4-e346-4e46-9694-5a041538fe1c",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f08f1ea9-c3c8-4a7f-814d-6f5e46e4f9eb",
              "name": "status",
              "value": "rejected",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -432,
        0
      ],
      "id": "86b17bcd-806c-460f-a152-c6d2b90525fd",
      "name": "Set Status"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "pending",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "9533eefb-1264-44d1-80dc-12ab2861cf85"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b8876b6b-013b-4339-910b-27fb6d920e39",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "approved",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "5805d33d-fe0a-4abf-ae08-b198b7bc1492",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "rejected",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -224,
        -16
      ],
      "id": "5040e5a2-f8e3-4240-80f3-f99972941570",
      "name": "Switch"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "89b74cc9-f6cb-4fe7-8882-ba7e2127b1bd",
              "name": "message",
              "value": "ticket is still pending review",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -16,
        -176
      ],
      "id": "0b83d783-fbfd-4a60-9c4d-8549730c5ce6",
      "name": "Set Pending"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f704d97a-9b15-43b6-bed4-011cc7324875",
              "name": "message",
              "value": "ticket is approved",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -16,
        0
      ],
      "id": "d143efbd-1f92-40d5-acd3-2e199ea97923",
      "name": "Set Approved"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "de2398f3-88ea-474a-9d76-5d70bdc84974",
              "name": "message",
              "value": "ticket is rejected",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -16,
        176
      ],
      "id": "ef760797-0cf6-4f75-a4bf-ce2033346c15",
      "name": "Set Rejected"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Set Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Status": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Set Pending",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Approved",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Rejected",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "bed969a4-1d8d-489f-ad31-6609b1631cd3",
  "meta": {
    "instanceId": "9dbe6e9adaa7644a782c9475adca697617306074a3b354c01045885272a5c8fe"
  },
  "id": "kecMgeEBg9bQQ2oP",
  "tags": []
}